body{
    font-family: Arial, Helvetica, sans-serif;
}
ol{
    font-size: 25px;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
.control1{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.control1 button{
    margin-left: 10px;
    margin-top: 10px;
}
.btn{
    height: 40px;
}
.list__items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transform: translateX(-100px);
}